
DirectMethods/.vs/LUDecomposition/v16/.suo
DirectMethods/.vs/LUDecomposition/v16/Browse.VC.db
IterativeMethods/.vs/IterativeMethods/v16/.suo
IterativeMethods/.vs/IterativeMethods/v16/Browse.VC.db
*.ipch
*.opendb
*.ilk
*.log
*.tlog
*.idb
*.pdb
*.obj
*.exe
